/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-user-select: "none";
       -moz-user-select: "none";
        -ms-user-select: "none";
            user-select: "none";
}

html {
    height: 100%;
    font-size: 24px;
}

body {
    height: 100%;
    background-color: #d2d2d2;
    font-family: 'Poppins', sans-serif;
    overflow: scroll;
}

#root {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.header {
    min-height: 3.8rem;
    margin: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.title {
    font-size: 2.5rem;
    font-weight: 500;
    color: #a2a2a2;
}

.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30rem;
    height: 2.2rem;
    min-height: 2.2rem;
}

.input {
    border-radius: 5px;
    border: 1px solid #a2a2a2;
    outline: none;
    font-size: 1rem;
    font-weight: 300;
    -webkit-box-flex: 9;
        -ms-flex: 9;
            flex: 9;
    height: 100%;
    padding-left: 1rem;
}

.add-btn {
    font-size: 0.7rem;
    font-weight: 500;
    color: #fff;
    background-color: #a2a2a2;
    border-radius: 5px;
    border: none;
    padding: none;
    margin: none;
    outline: none;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 100%;
    cursor: pointer;
}

.list {
    margin: 0.5rem 0 0 0;
    width: 30rem;
    list-style-type: none;
    padding: 0;
}

.list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 2px solid #d2d2d2;
    border-radius: 5px;
    margin: 0;
    height: 2.2rem;
    cursor: pointer;
}

.incomplete {
    background-color: #fff;
}

.complete {
    background-color: #a2a2a2;
}

.item-text {
    -webkit-box-flex: 9;
        -ms-flex: 9;
            flex: 9;
    font-weight: 300;
    padding: 0 0 0 1rem;
}

.text-complete {
    text-decoration: line-through;
    color: #d2d2d2;
}

.btn-container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
}

ion-icon {
    display: none;
}

.list-item:hover ion-icon {
    display: inline-block;
    font-size: 1.3rem;
    color: #d2d2d2;
}

.stat-container {
    margin-top: 0.5rem;
    width: 30rem;
    height: 2.2rem;
    min-height: 2.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.item-cnt {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    color: #a2a2a2;
    font-size: 0.7rem;
    font-weight: 300;
    text-align: center;
}

.btns-container {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 2.2rem;
}

.stat-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    outline: none;
    margin: 0 0.5rem;
    font-size: 0.5rem;
    color: #787878;
    font-weight: 400;
    padding: 0.3rem;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid transparent;
}

.stat-btn:hover {
    border-radius: 5px;
    border: 2px solid #a2a2a2;
}

.del-completed-btn {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.btns-container .btn-active {
    background-color: #a2a2a2;
    color: #fff;
}
